:root {
  --color-sweat-blue: #3475fa;
  --color-trust-blue: #003377;
  --color-white: #fff;
  --color-black: #111;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  color: var(--color-dark);
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: var(--color-sweat-blue);
}

h1 {
  font-size: 2em;
  color: var(--color-dark);
}

h2 {
  font-size: 1.5em;
  color: var(--color-dark);
}

h3 {
  font-size: 1.25em;
  color: var(--color-dark);
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

dd > ul {
  padding-inline-start: 0;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;

  section {
    margin: 4em 0;
  }
}

.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  justify-content: space-between;

  > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(50% - 2em);
  }
}

.business {
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  justify-content: space-between;

  > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(50% - 2em);
  }

  @media (max-width: 600px) {
    > * {
      flex-basis: 100%;
    }
  }
}

.button {
  display: inline-flex;
  padding: 0.5em 1em;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-sweat-blue);
  border: 1px solid  var(--color-sweat-blue);
  border-radius: 3px;
  text-decoration: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.media {
  h2 {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    a {
      height: 32px;
      padding-inline-start: 0.25em;
    }
  }

  .title {
    margin-top: 0;
  }

  .avatar {
    width: 200px;
    height: 200px;
  }
}

.media::after {
  content: "";
  display: block;
  clear: both;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 540px) {
  .avatar {
    float: left;
    margin-right: 32px;
    margin-bottom: 32px;
  }
}
