.footer {
  flex-grow: 1;
  margin-bottom: 0;
  background-color: var(--color-trust-blue);
  color: var(--color-white);

  a {
    color: var(--color-white);
  }
}

.footer-layout {
  display: flex;

  > * {
    width: 50%;
  }
}
