.header {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(154, 161, 177, .1);
}

.header-layout {
  display: flex;
  justify-content: space-between;
}

.header__title {
  display: inline-flex;
  align-items: center;
  font-size: 1em;
  color: var(--color-trust-blue);
  text-decoration: none;

  h1 {
    margin: 0;
    padding-inline-start: 0.25em;
    font-size: 1.5em;
  }

  @media (max-width: 600px) {
    h1 {
      display: none;
    }
  }
}

.header__nav {
  display: flex;
}

.header__nav > * {
  padding-inline-start: 1em;
}

.header__logo {
  height: 48px;
}
