<footer class="footer">
  <div class="container">
    <div class="footer-layout">
      <nav>
        <ul class="footer__nav">
          <li><a href="/about">About</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </nav>
      <nav>
        <ul class="footer__nav">
          <li><a href="https://www.linkedin.com/company/sweatequityjp">LinkedIn</a></li>
          <li><a href="hhttps://www.facebook.com/sweatequityjp">Facebook</a></li>
          <li><a href="https://x.com/sweatequityjp">X</a></li>
        </ul>
      </nav>
    </div>
    <p>© Sweat Equity Partners, Inc. All Right Reserved.</p>
  </div>
</footer>
