<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Title }} - {{ .Site.Title }}</title>
<link rel="icon" href="/img/favicon.png">
<link rel="shortcut icon" href="/img/favicon.png">
<link rel="shortcut icon" href="/img/favicon.svg" type="image/svg+xml" sizes="any">
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,400..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/util.css">
<link rel="stylesheet" href="/css/component.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">

{{ if .IsPage }}
  {{ if .Summary }}
    <meta property="og:description" content="{{ .Summary }}">
  {{ else }}
    <meta property="og:description" content="{{ .Site.Params.description }}">
  {{ end }}

  {{ if .Params.image }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.image }}">
    <meta name="twitter:card" content="summary_large_image">
  {{ else }}
    <meta property="og:image" content="{{ .Site.BaseURL }}/img/logo.png">
    <meta name="twitter:card" content="summary">
  {{ end }}
{{ else }}
  <meta property="og:description" content="{{ .Site.Params.description }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}/img/logo.png">
  <meta name="twitter:card" content="summary">
{{ end }}

<meta property="og:type" content="article">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Title }}">

<meta name="twitter:site" content="@sweatequityjp">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ .Title }}">
